.footer {
  padding: 90px 0 30px 0;

  @media screen and (max-width: $screen-sm-max) {
    padding: 50px 0 26px 0;
  }

  &-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 25px 0;
  }

  &-logo {
    order: -1;

    @media (max-width: $screen-sm-max) {
      flex: 1;
    }
  }

  .instagram-icon {
    @include flex-center;
    background: $c-primary-dark;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    order: -1;
  }

  .brand-email {
    font-size: 20px;
    color: $c-footer-text;
    order: -1;

    @media screen and (max-width: $screen-sm-max) {
      order: 1;
    }
  }

  &-bottom {
    margin: 20px 0 0 0;
  }

  .legal-text {
    font-weight: 300;
    font-size: 11px;
    color: $c-footer-legal-text;
    line-height: 20px;
  }
}