.header-dropdown {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: $c-header-dropdown-bg;
  overflow-y: scroll;

  &-active {
    display: block;
    overflow: auto;
  }

  &-dropdown-wrap {
    width: 100%;
    height: 100%;
  }

  .lang-mobile {
    display: flex;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  &-cta {
    padding: 25px 0 60px 0 !important;

    .cta-inner {
      max-width: 100%;
      border-top-right-radius: 0;
    }
  }
}